*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }
 body{
     width: 100%;
     overflow-x: hidden !important;
 }


 .wrapper{
     width: 100%;
     overflow-x: hidden !important;
     background-color: #f8f9fa!important;
 }
 .profileImg img{
     max-height: 100px;
     max-width: 80px;
     min-height: 100px;
     min-width: 80px;
 }
 a{
    text-decoration: none;
     }
  
     .card{
         border: 2px solid black !important;
         box-shadow: 0 0 10px rgba(255, 255, 255, 0.616);
         background:white !impotant;
     }
 .profileSmallDescription a{
text-decoration: none;
width: 100%;
color: rgba(0, 0, 0, 0.61);
font-weight: bold
 }
 .profileSmallDescription a span{
     color: black;
     font-weight:500;
     margin-left:10px
 }

 .profileSmallDescription a:hover{
    color: #074970 !important;
 }
 .profileSmallDescription{
     display: flex;align-items: center;justify-content: center;
     flex-direction: column;
     padding: 10px 0;
 }
 .profileImg{
     height: 100%;
     display: flex;align-items: center;justify-content: center;
     flex-direction: column;
    
 }
 .menuControl{
     font-size:20px;
 }
 .mobileMenu{
     position: absolute;
     right: 0;
     top: 0px;
     width:70%;
     display: flex;align-items: flex-start;justify-content:flex-start;
     flex-direction: column;
     z-index: -99;
     /* margin-right: -100vw; */
     visibility: hidden;
     background-color: white;
     border: 1px solid #7c7c7c7c;
     height: 80vh;
 }
 .mobileMenu a:first-of-type{
     margin-top:10px;
 }

 .mobileMenu a{
     color: black;
     text-decoration: none;
     margin: 5px 20px;
     font-weight: 500;
 }
 .backBtn{
     position: absolute;
     right: 10px;
     top: 20px;
 }
 .mobileMenuContainer{
     width: 100%;
     background-color:rgba(0, 0, 0, 0.747);
     visibility:hidden;
     z-index: -98;
     position: absolute;
     right: 0;
     top: 0px;
     height: 100vh;
 }
 .shareOption{
     position: absolute;
     top: 10px;
     right: 10px;
     color: #f9f9f9;
 }
 .shadow :hover{
box-shadow: 0 0 10px black;
 }






.op{
    border: 1px solid #000 !important;
}
.search input{
    border: 1px solid #000 !important;
}
.search button{
    border: 1px solid #000 !important;

}

.contactBtn{
   width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;

}
.contactBtn button:focus{
    background-color:#0d6efd;
    transition: 0.5s;
    transform:scale(1.1);
}
.contactBtn button:focus .fa-whatsapp{
    background-color:#0d6efd;
    color: white !important;
    transition: 0.5s;
}
.contactBtn button:focus .fa-phone{
    background-color:#0d6efd;
    color: white !important;
    transition: 0.5s;
}
.contactBtn button{
    border: 1px solid #000;
    padding: 1px 8px;
    font-size:24px;
    margin-top:5px;
    margin-left: 10px;
    flex:1
}

.contactBtn a{
color: white;
flex:6;
}
.contactBtn a button{
width:95%;
font-size:18px;
padding:5px;
}
.contactBtn a button:focus{
    color: white;
    background-color:#0d6efd;
    transform:scale(1)
}

.contactBtn button .fa-whatsapp{
    color: green;
}
.contactBtn button .fa-phone{
    color: #0d6efd;
    font-size:20px;
}

.filterCard{
    display: none !important;
}
.show{
    display: block !important;
}
.container{
padding:0 0 10px 0;
background-color:#0d6efd;
min-height: 100vh;
}









.ownerHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    
    

}
.ownerHeader img{
    max-height:60px;
}
.ownerHeader h5{
    font-weight: 500;
    margin-left: 10px;
    font-size:18px;
}
.ownerImage{
    text-align: center;
    margin-bottom: 10px;
}
.ownerImage img{
height:150px
}
.ownerSm{
width:100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.ownerName{
    width:90%;
display: flex;
align-items: flex-start;
justify-content: flex-start;
margin-bottom: 0px;
font-size:16px;
font-weight: 500;
color: rgb(54, 54, 54);
}
.ownerName span{
    color: black;
    margin-left: 5px;
}
.ownerContact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.ownerContact a{
    color: black;
    text-decoration: none;
    font-size: 16px;
}
.ownerContact a i{
margin-right: 5px;
}
